h2 {
    font-size: 4.2rem;
}

main {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

main::after {
    position: absolute;
    bottom: 0;
    border-left: 1050px solid transparent
}

.hero-image {
    background-position: right;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hero-clip {
    display: flex;
    align-items: center;
    width: 50vw;
    clip-path: polygon(0% 0%, calc(100% - 100px) 0%, 100% 100%, 0 100%);
    background: #202020;
    position: relative;
    left: 118px;
    height: 100%;
}

.logo {
    align-self: flex-start;
}

.hero-text {
    width: 435px;
}

a {
    width: 150px;
}

@media (min-width: 1070px) {
    main::after {
        border-left: 1070px solid transparent;
    }
}

@media (min-width: 1080px) {
    main::after {
        border-left: 1080px solid transparent;
    }
}

@media (min-width: 1280px) {
    main::after {
        border-left-width: 100vw;
        border-left-style: solid;
        border-left-color: transparent;
        border-bottom-width: 128px;
    }
}

@media (min-width: 1950px) {
    .hero-clip {
        width: 43vw;
    }
    
    .hero-image {
        height: 1450px;
    }
}