html {
    font-size: 62.5%;
}

:root {
    --bg-color: #202020;
    --button-color: #1B90FC;
}

body,
figure {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

img {
    width: 100%;
}

h2 {
    font-size: 2.4rem;
}

h2,
a {
    font-weight: 700;
}

a,
p {
    font-size: 1.4rem;
}

a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--button-color);
    padding-block: 16px;
    width: 100%;
    border-radius: 50px;
}

main {
    background-color: var(--bg-color);
}

main::after {
    content: "";
    position: relative;
    display: block;
    border-bottom: 20px solid #000;
    border-left: 40px solid transparent;
    width: 0;
    height: 0;
    left: 0;
}

.hero-image {
    min-height: 50vh;
    width: 100%;
    background-image: url(../assets/img/hero-loki.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    min-height: 70vh;
    width: 90%;
    margin: 25px auto;
}

.logo {
    width: 78px;
}