html {
    font-size: 62.5%;
}

:root {
    --bg-color: #202020;
    --button-color: #1B90FC;
}

body,
figure {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    padding: 16px;
    width: 100%;
    border-radius: 50px;
}