
h2 {
    font-size: 4rem;
}

p {
    font-size: 1.6rem;
}

a {
    margin-block-start: 30px;
}

main::after {
    border-left: 768px solid transparent;
}

.logo {
    width: 193px;
}

.hero-content {
    min-height: 40vh;
    width: 80%;
}